body {
    background-color: rgb(225, 244, 255);
}

#converter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tempButtons {
    display: inline-flex;
    justify-content: space-between;
}

#temp-zone {
    border: black 1px solid;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#temp-p {
    text-align: center;
}